<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="persona-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('PersonaeCollectionThymeleafController')},itemLink=${@linkBuilder.of('PersonaeItemThymeleafController')}">
    <table id="persona-entity-table-items-to-remove-batch" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="alias" data-th-text="#{label_persona_alias}">alias</th>
          <th data-data="genero" data-th-text="#{label_persona_genero}">genero</th>
          <th data-data="edad" data-th-text="#{label_persona_edad}">edad</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>alias</td>
          <td>genero</td>
          <td>edad</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->