<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_persona})}|">Show Persona - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${persona}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_persona})}">Show Persona</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_persona})}">Persona data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="persona-alias-field" data-z="896306fd">
            	      <strong data-th-text="#{label_persona_alias}">alias</strong>
                    <span data-th-text="*{{alias}}">aliasValue</span>
         	        </li>
                  <li id="persona-genero-field" data-z="da693141">
            	      <strong data-th-text="#{label_persona_genero}">genero</strong>
                    <span data-th-text="*{{genero}}">generoValue</span>
         	        </li>
                  <li id="persona-fechanacimiento-field" data-z="c7d1c4dd">
            	      <strong data-th-text="#{label_persona_fechanacimiento}">fechaNacimiento</strong>
                    <span data-th-text="*{{fechaNacimiento}}">fechaNacimientoValue</span>
         	        </li>
                  <li id="persona-grupo-field" data-z="dc4ca7dd">
            	      <strong data-th-text="#{label_persona_grupo}">grupo</strong>
                    <span data-th-text="*{{grupo}}">grupoValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Persona_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('PersonaeItemThymeleafController').to('editForm').with('persona', persona.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="Persona_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('PersonaeCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
