<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_persona})}|">Show Persona - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${persona}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="persona-alias-field" data-z="896306fd">
            	      <strong data-th-text="#{label_persona_alias}">alias</strong>
                    <span data-th-text="*{{alias}}">aliasValue</span>
         	        </li>
                  <li id="persona-genero-field" data-z="da693141">
            	      <strong data-th-text="#{label_persona_genero}">genero</strong>
                    <span data-th-text="*{{genero}}">generoValue</span>
         	        </li>
                  <li id="persona-fechanacimiento-field" data-z="c7d1c4dd">
            	      <strong data-th-text="#{label_persona_fechanacimiento}">fechaNacimiento</strong>
                    <span data-th-text="*{{fechaNacimiento}}">fechaNacimientoValue</span>
         	        </li>
                  <li id="persona-grupo-field" data-z="dc4ca7dd">
            	      <strong data-th-text="#{label_persona_grupo}">grupo</strong>
                    <span data-th-text="*{{grupo}}">grupoValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
