<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="biometriahematica-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('BiometriaHematicasCollectionThymeleafController')},itemLink=${@linkBuilder.of('BiometriaHematicasItemThymeleafController')}">
    <table id="biometriahematica-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="persona" data-th-text="#{label_biometriahematica_persona}">persona</th>
          <th data-data="fecha" data-th-text="#{label_biometriahematica_fecha}">fecha</th>
          <th data-data="eritrocitos" data-th-text="#{label_biometriahematica_eritrocitos}">eritrocitos</th>
          <th data-data="hemoglobina" data-th-text="#{label_biometriahematica_hemoglobina}">hemoglobina</th>
          <th data-data="hematrocito" data-th-text="#{label_biometriahematica_hematrocito}">hematrocito</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>persona</td>
          <td>fecha</td>
          <td>eritrocitos</td>
          <td>hemoglobina</td>
          <td>hematrocito</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->