<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_biometriahematica})}|">Show BiometriaHematica - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${biometriaHematica}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="biometriahematica-persona-field" data-z="a6ba368f">
            	      <strong data-th-text="#{label_biometriahematica_persona}">persona</strong>
                    <span data-th-text="*{{persona}}">personaValue</span>
         	        </li>
                  <li id="biometriahematica-fecha-field" data-z="62f8ac6f">
            	      <strong data-th-text="#{label_biometriahematica_fecha}">fecha</strong>
                    <span data-th-text="*{{fecha}}">fechaValue</span>
         	        </li>
                  <li id="biometriahematica-eritrocitos-field" data-z="262b686f">
            	      <strong data-th-text="#{label_biometriahematica_eritrocitos}">eritrocitos</strong>
                    <span data-th-text="*{{eritrocitos}}">eritrocitosValue</span>
         	        </li>
                  <li id="biometriahematica-hemoglobina-field" data-z="6575d36f">
            	      <strong data-th-text="#{label_biometriahematica_hemoglobina}">hemoglobina</strong>
                    <span data-th-text="*{{hemoglobina}}">hemoglobinaValue</span>
         	        </li>
                  <li id="biometriahematica-hematrocito-field" data-z="6a0ee3ef">
            	      <strong data-th-text="#{label_biometriahematica_hematrocito}">hematrocito</strong>
                    <span data-th-text="*{{hematrocito}}">hematrocitoValue</span>
         	        </li>
                  <li id="biometriahematica-amplitud_de_distribucion_eritrocitaria_rdw_cv-field" data-z="4e35b5af">
            	      <strong data-th-text="#{label_biometriahematica_amplitud_de_distribucion_eritrocitaria_rdw_cv}">amplitud_de_distribucion_eritrocitaria_rdw_cv</strong>
                    <span data-th-text="*{{amplitud_de_distribucion_eritrocitaria_rdw_cv}}">amplitud_de_distribucion_eritrocitaria_rdw_cvValue</span>
         	        </li>
                  <li id="biometriahematica-amplitud_de_distribucion_eritrocitaria_rdw_sd-field" data-z="4e3cf1ef">
            	      <strong data-th-text="#{label_biometriahematica_amplitud_de_distribucion_eritrocitaria_rdw_sd}">amplitud_de_distribucion_eritrocitaria_rdw_sd</strong>
                    <span data-th-text="*{{amplitud_de_distribucion_eritrocitaria_rdw_sd}}">amplitud_de_distribucion_eritrocitaria_rdw_sdValue</span>
         	        </li>
                  <li id="biometriahematica-velocidad_de_sedimentacion_globular-field" data-z="deb288f">
            	      <strong data-th-text="#{label_biometriahematica_velocidad_de_sedimentacion_globular}">velocidad_de_sedimentacion_globular</strong>
                    <span data-th-text="*{{velocidad_de_sedimentacion_globular}}">velocidad_de_sedimentacion_globularValue</span>
         	        </li>
                  <li id="biometriahematica-volumen_corpuscular_medio-field" data-z="5e7cbeaf">
            	      <strong data-th-text="#{label_biometriahematica_volumen_corpuscular_medio}">volumen_corpuscular_medio</strong>
                    <span data-th-text="*{{volumen_corpuscular_medio}}">volumen_corpuscular_medioValue</span>
         	        </li>
                  <li id="biometriahematica-hemoglobina_corpuscular_media-field" data-z="90b6a4f">
            	      <strong data-th-text="#{label_biometriahematica_hemoglobina_corpuscular_media}">hemoglobina_corpuscular_media</strong>
                    <span data-th-text="*{{hemoglobina_corpuscular_media}}">hemoglobina_corpuscular_mediaValue</span>
         	        </li>
                  <li id="biometriahematica-concentracion_media_de_hemoglobina_corpuscular-field" data-z="7367b1cf">
            	      <strong data-th-text="#{label_biometriahematica_concentracion_media_de_hemoglobina_corpuscular}">concentracion_media_de_hemoglobina_corpuscular</strong>
                    <span data-th-text="*{{concentracion_media_de_hemoglobina_corpuscular}}">concentracion_media_de_hemoglobina_corpuscularValue</span>
         	        </li>
                  <li id="biometriahematica-leucocitos-field" data-z="2c1ea16f">
            	      <strong data-th-text="#{label_biometriahematica_leucocitos}">leucocitos</strong>
                    <span data-th-text="*{{leucocitos}}">leucocitosValue</span>
         	        </li>
                  <li id="biometriahematica-linfocitos-field" data-z="8966e3af">
            	      <strong data-th-text="#{label_biometriahematica_linfocitos}">linfocitos</strong>
                    <span data-th-text="*{{linfocitos}}">linfocitosValue</span>
         	        </li>
                  <li id="biometriahematica-monocitos-field" data-z="9ed5462f">
            	      <strong data-th-text="#{label_biometriahematica_monocitos}">monocitos</strong>
                    <span data-th-text="*{{monocitos}}">monocitosValue</span>
         	        </li>
                  <li id="biometriahematica-neutrofilos-field" data-z="ebe984cf">
            	      <strong data-th-text="#{label_biometriahematica_neutrofilos}">neutrofilos</strong>
                    <span data-th-text="*{{neutrofilos}}">neutrofilosValue</span>
         	        </li>
                  <li id="biometriahematica-eosinofilos-field" data-z="80e3928f">
            	      <strong data-th-text="#{label_biometriahematica_eosinofilos}">eosinofilos</strong>
                    <span data-th-text="*{{eosinofilos}}">eosinofilosValue</span>
         	        </li>
                  <li id="biometriahematica-basofilos-field" data-z="d23061cf">
            	      <strong data-th-text="#{label_biometriahematica_basofilos}">basofilos</strong>
                    <span data-th-text="*{{basofilos}}">basofilosValue</span>
         	        </li>
                  <li id="biometriahematica-plaquetas-field" data-z="dc310acf">
            	      <strong data-th-text="#{label_biometriahematica_plaquetas}">plaquetas</strong>
                    <span data-th-text="*{{plaquetas}}">plaquetasValue</span>
         	        </li>
                  <li id="biometriahematica-volumen_plaquetario_medio-field" data-z="b0d6e92f">
            	      <strong data-th-text="#{label_biometriahematica_volumen_plaquetario_medio}">volumen_plaquetario_medio</strong>
                    <span data-th-text="*{{volumen_plaquetario_medio}}">volumen_plaquetario_medioValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
