<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
<head id="head">

<title
	data-th-text="#{label_create_entity(#{label_lecturacomposicioncorporal})}">
	Create LecturaComposicionCorporal - soja - SpringRoo Application</title>

<!-- DateTimePicker -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css"
	data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

</head>

<body id="body">

	<header role="banner">
		<!-- Content replaced by layout of the page displayed -->
	</header>

	<!-- CONTAINER -->
	<div class="container bg-container">
		<!-- CONTENT -->
		<!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
		<section data-layout-fragment="content">
			<div class="container-fluid content"
				data-th-with="collectionLink=${@linkBuilder.of('LecturaComposicionCorporalsCollectionThymeleafController')}">

				<h1
					data-th-text="#{label_create_entity(#{label_lecturacomposicioncorporal})}">Create
					LecturaComposicionCorporal</h1>

				<!-- FORM -->
				<form class="form-horizontal validate" method="POST"
					data-th-object="${lecturaComposicionCorporal}"
					data-th-action="${collectionLink.to('create').with('lecturaComposicionCorporal', lecturaComposicionCorporal.id)}">

					<fieldset id="containerFields">
						<legend class="sr-only"
							data-th-text="#{label_data_entity(#{label_lecturacomposicioncorporal})}">LecturaComposicionCorporal
							data </legend>

						<div class="form-group has-error has-feedback" data-z="86ddd44"
							id="lecturacomposicioncorporal-estatura-field"
							data-th-classappend="${#fields.hasErrors('estatura')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="estatura" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_estatura}">estatura</label>
							<div class="col-md-3">
								<input id="estatura" name="estatura" onchange="getIMC()"
									data-th-value="*{{estatura}}" type="text"
									class="form-control inputmask" placeholder="estatura"
									data-th-placeholder="#{label_lecturacomposicioncorporal_estatura}"
									data-toggle="tooltip" aria-describedby="estaturaStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="1"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('estatura')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('estatura')}"
									aria-hidden="true"></span> <span id="estatura-error"
									class="help-block"
									data-th-if="${#fields.hasErrors('estatura')}"
									data-th-errors="*{estatura}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="a421cf04"
							id="lecturacomposicioncorporal-peso-field"
							data-th-classappend="${#fields.hasErrors('peso')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="peso" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_peso}">peso</label>
							<div class="col-md-3">
								<input id="peso" name="peso" data-th-value="*{{peso}}" onchange="getIMC()"
									type="text" class="form-control inputmask" placeholder="peso"
									data-th-placeholder="#{label_lecturacomposicioncorporal_peso}"
									data-toggle="tooltip" aria-describedby="pesoStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('peso')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('peso')}" aria-hidden="true"></span>
								<span id="peso-error" class="help-block"
									data-th-if="${#fields.hasErrors('peso')}"
									data-th-errors="*{peso}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="7044531a"
							id="lecturacomposicioncorporal-imc-field"
							data-th-classappend="${#fields.hasErrors('imc')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="imc" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_imc}">imc</label>
							<div class="col-md-3">
								<input id="imc" name="imc" data-th-value="*{{imc}}" type="text"
									class="form-control inputmask" placeholder="imc"
									data-th-placeholder="#{label_lecturacomposicioncorporal_imc}"
									data-toggle="tooltip" aria-describedby="imcStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="2"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('imc')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('imc')}" aria-hidden="true"></span>
								<span id="imc-error" class="help-block"
									data-th-if="${#fields.hasErrors('imc')}"
									data-th-errors="*{imc}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="36a3aec4"
							id="lecturacomposicioncorporal-porcentajemasacorporal-field"
							data-th-classappend="${#fields.hasErrors('porcentajeMasaCorporal')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="porcentajeMasaCorporal"
								class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_porcentajemasacorporal}">porcentajeMasaCorporal</label>
							<div class="col-md-3">
								<input id="porcentajeMasaCorporal" name="porcentajeMasaCorporal"
									data-th-value="*{{porcentajeMasaCorporal}}" type="text"
									class="form-control inputmask"
									placeholder="porcentajeMasaCorporal"
									data-th-placeholder="#{label_lecturacomposicioncorporal_porcentajemasacorporal}"
									data-toggle="tooltip"
									aria-describedby="porcentajeMasaCorporalStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="2"
									data-inputmask-digits="2" required="required" min="0" max="100" />
								<span
									data-th-classappend="${#fields.hasErrors('porcentajeMasaCorporal')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('porcentajeMasaCorporal')}"
									aria-hidden="true"></span> <span
									id="porcentajeMasaCorporal-error" class="help-block"
									data-th-if="${#fields.hasErrors('porcentajeMasaCorporal')}"
									data-th-errors="*{porcentajeMasaCorporal}">Error
									message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="79bba29a"
							id="lecturacomposicioncorporal-masamagra-field"
							data-th-classappend="${#fields.hasErrors('masaMagra')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="masaMagra" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_masamagra}">masaMagra</label>
							<div class="col-md-3">
								<input id="masaMagra" name="masaMagra"
									data-th-value="*{{masaMagra}}" type="text"
									class="form-control inputmask" placeholder="masaMagra"
									data-th-placeholder="#{label_lecturacomposicioncorporal_masamagra}"
									data-toggle="tooltip" aria-describedby="masaMagraStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('masaMagra')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('masaMagra')}"
									aria-hidden="true"></span> <span id="masaMagra-error"
									class="help-block"
									data-th-if="${#fields.hasErrors('masaMagra')}"
									data-th-errors="*{masaMagra}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="7082a4c4"
							id="lecturacomposicioncorporal-porcentajeaguacorporal-field"
							data-th-classappend="${#fields.hasErrors('porcentajeAguaCorporal')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="porcentajeAguaCorporal"
								class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_porcentajeaguacorporal}">porcentajeAguaCorporal</label>
							<div class="col-md-3">
								<input id="porcentajeAguaCorporal" name="porcentajeAguaCorporal"
									data-th-value="*{{porcentajeAguaCorporal}}" type="text"
									class="form-control inputmask"
									placeholder="porcentajeAguaCorporal"
									data-th-placeholder="#{label_lecturacomposicioncorporal_porcentajeaguacorporal}"
									data-toggle="tooltip"
									aria-describedby="porcentajeAguaCorporalStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="2"
									data-inputmask-digits="2" required="required" min="0" max="100" />
								<span
									data-th-classappend="${#fields.hasErrors('porcentajeAguaCorporal')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('porcentajeAguaCorporal')}"
									aria-hidden="true"></span> <span
									id="porcentajeAguaCorporal-error" class="help-block"
									data-th-if="${#fields.hasErrors('porcentajeAguaCorporal')}"
									data-th-errors="*{porcentajeAguaCorporal}">Error
									message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="6665a17a"
							id="lecturacomposicioncorporal-grasavisceral-field"
							data-th-classappend="${#fields.hasErrors('grasaVisceral')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="grasaVisceral" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_grasavisceral}">grasaVisceral</label>
							<div class="col-md-3">
								<input id="grasaVisceral" name="grasaVisceral"
									data-th-value="*{{grasaVisceral}}" type="text"
									class="form-control inputmask" placeholder="grasaVisceral"
									data-th-placeholder="#{label_lecturacomposicioncorporal_grasavisceral}"
									data-toggle="tooltip" aria-describedby="grasaVisceralStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('grasaVisceral')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('grasaVisceral')}"
									aria-hidden="true"></span> <span id="grasaVisceral-error"
									class="help-block"
									data-th-if="${#fields.hasErrors('grasaVisceral')}"
									data-th-errors="*{grasaVisceral}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="62c02cfa"
							id="lecturacomposicioncorporal-circunferenciacintura-field"
							data-th-classappend="${#fields.hasErrors('circunferenciaCintura')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="circunferenciaCintura" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_circunferenciacintura}">circunferenciaCintura</label>
							<div class="col-md-3">
								<input id="circunferenciaCintura" name="circunferenciaCintura"
									data-th-value="*{{circunferenciaCintura}}" type="text"
									class="form-control inputmask"
									placeholder="circunferenciaCintura"
									data-th-placeholder="#{label_lecturacomposicioncorporal_circunferenciacintura}"
									data-toggle="tooltip"
									aria-describedby="circunferenciaCinturaStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('circunferenciaCintura')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('circunferenciaCintura')}"
									aria-hidden="true"></span> <span
									id="circunferenciaCintura-error" class="help-block"
									data-th-if="${#fields.hasErrors('circunferenciaCintura')}"
									data-th-errors="*{circunferenciaCintura}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="2317d3a4"
							id="lecturacomposicioncorporal-circunferenciacadera-field"
							data-th-classappend="${#fields.hasErrors('circunferenciaCadera')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="circunferenciaCadera" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_circunferenciacadera}">circunferenciaCadera</label>
							<div class="col-md-3">
								<input id="circunferenciaCadera" name="circunferenciaCadera"
									data-th-value="*{{circunferenciaCadera}}" type="text"
									class="form-control inputmask"
									placeholder="circunferenciaCadera"
									data-th-placeholder="#{label_lecturacomposicioncorporal_circunferenciacadera}"
									data-toggle="tooltip"
									aria-describedby="circunferenciaCaderaStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('circunferenciaCadera')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('circunferenciaCadera')}"
									aria-hidden="true"></span> <span
									id="circunferenciaCadera-error" class="help-block"
									data-th-if="${#fields.hasErrors('circunferenciaCadera')}"
									data-th-errors="*{circunferenciaCadera}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="cc2035ba"
							id="lecturacomposicioncorporal-indicecinturacadera-field"
							data-th-classappend="${#fields.hasErrors('indiceCinturaCadera')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="indiceCinturaCadera" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_indicecinturacadera}">indiceCinturaCadera</label>
							<div class="col-md-3">
								<input id="indiceCinturaCadera" name="indiceCinturaCadera"
									data-th-value="*{{indiceCinturaCadera}}" type="text"
									class="form-control inputmask"
									placeholder="indiceCinturaCadera"
									data-th-placeholder="#{label_lecturacomposicioncorporal_indicecinturacadera}"
									data-toggle="tooltip"
									aria-describedby="indiceCinturaCaderaStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="3"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('indiceCinturaCadera')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('indiceCinturaCadera')}"
									aria-hidden="true"></span> <span id="indiceCinturaCadera-error"
									class="help-block"
									data-th-if="${#fields.hasErrors('indiceCinturaCadera')}"
									data-th-errors="*{indiceCinturaCadera}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="9895c9c4"
							id="lecturacomposicioncorporal-circunferenciamuneca-field"
							data-th-classappend="${#fields.hasErrors('circunferenciaMuneca')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="circunferenciaMuneca" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_circunferenciamuneca}">circunferenciaMuneca</label>
							<div class="col-md-3">
								<input id="circunferenciaMuneca" name="circunferenciaMuneca"
									data-th-value="*{{circunferenciaMuneca}}" type="text"
									class="form-control inputmask"
									placeholder="circunferenciaMuneca"
									data-th-placeholder="#{label_lecturacomposicioncorporal_circunferenciamuneca}"
									data-toggle="tooltip"
									aria-describedby="circunferenciaMunecaStatus"
									data-inputmask-alias="numeric" data-inputmask-integerdigits="2"
									data-inputmask-digits="2" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('circunferenciaMuneca')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('circunferenciaMuneca')}"
									aria-hidden="true"></span> <span
									id="circunferenciaMuneca-error" class="help-block"
									data-th-if="${#fields.hasErrors('circunferenciaMuneca')}"
									data-th-errors="*{circunferenciaMuneca}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback"
							id="lecturacomposicioncorporal-fechahoraevaluacion-field"
							data-z="9b1dd3a"
							data-th-classappend="${#fields.hasErrors('fechaHoraEvaluacion')}? 'has-error has-feedback'"
							data-th-class="form-group">
							<label for="fechaHoraEvaluacion" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_fechahoraevaluacion}">fechaHoraEvaluacion</label>
							<div class="col-md-3">
								<input id="fechaHoraEvaluacion" name="fechaHoraEvaluacion"
									data-th-value="*{{fechaHoraEvaluacion}}" type="text"
									class="form-control datetimepicker"
									placeholder="fechaHoraEvaluacion"
									data-th-placeholder="#{label_lecturacomposicioncorporal_fechahoraevaluacion}"
									data-th-attr="data-dateformat=${fechaHoraEvaluacion_date_format}"
									data-toggle="tooltip" required="required" /> <span
									data-th-classappend="${#fields.hasErrors('fechaHoraEvaluacion')}? 'glyphicon glyphicon-remove form-control-feedback'"
									data-th-if="${#fields.hasErrors('fechaHoraEvaluacion')}"
									aria-hidden="true"></span> <span id="fechaHoraEvaluacion-error"
									class="help-block"
									data-th-if="${#fields.hasErrors('fechaHoraEvaluacion')}"
									data-th-errors="*{fechaHoraEvaluacion}">Error message.</span>
							</div>
						</div>
						<div class="form-group has-error has-feedback" data-z="dc6843fa"
							id="lecturacomposicioncorporal-persona-field"
							data-th-classappend="${#fields.hasErrors('persona')}? 'has-error has-feedback'"
							data-th-class="form-group"
							data-th-with="collectionLink=${@linkBuilder.of('PersonaeCollectionThymeleafController')}">
							<label for="persona" class="col-md-3 control-label"
								data-th-text="#{label_lecturacomposicioncorporal_persona}">Persona</label>
							<div class="col-md-6">
								<!-- Select2 -->
								<select data-th-field="*{persona}"
									class="form-control dropdown-select-ajax"
									data-allow-clear="false"
									data-data-ajax--url="${collectionLink.to('select2')}"
									data-ajax--cache="true" data-ajax--delay="250"
									data-ajax--data-type="json" required="required"
									data-data-placeholder="#{info_select_an_option}">
									<option data-th-unless="*{persona} == null"
										data-th-value="*{persona.id}" data-th-text="*{{persona}}"
										selected="selected">Persona</option>
								</select> <span
									data-th-classappend="${#fields.hasErrors('persona')}? 'glyphicon glyphicon-remove form-control-feedback'"
									class="glyphicon glyphicon-remove form-control-feedback"
									data-th-if="${#fields.hasErrors('persona')}" aria-hidden="true"></span>
								<span id="persona-error" class="help-block"
									data-th-if="${#fields.hasErrors('persona')}"
									data-th-errors="*{persona}">Error message.</span>
							</div>
						</div>
					</fieldset>


					<!-- buttons form -->
					<div class="form-group">
						<div class="col-md-9 col-md-offset-3">
							<button type="submit" class="btn btn-primary"
								data-th-text="#{label_save}">Save</button>
							<button type="reset" class="btn btn-default"
								onclick="location.href='list.html'"
								data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''"
								data-th-text="#{label_reset}">Cancel</button>
						</div>
					</div>

				</form>
				<!-- /FORM -->

			</div>

		</section>
		<!-- /CONTENT -->
	</div>
	<!-- /CONTAINER -->

	<footer class="container">
		<!-- Content replaced by layout of the page displayed -->
	</footer>

	<!-- JavaScript
  ================================================== -->
	<!-- Placed at the end of the document so that the pages load faster -->
	<!-- JavaScript loaded by layout of the page displayed -->
	<!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
	<div data-layout-fragment="javascript">

		<!-- DateTimePicker -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"
			data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
		<script src="../../static/public/js/datetimepicker-defaults.js"
			data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

		<!-- jquery.inputmask -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js"
			data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
		<script type="text/javascript" data-th-inline="javascript">
			(function(jQuery) {
				jQuery(document)
						.ready(
								function() {
									Inputmask
											.extendAliases({
												'numeric' : {
													'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
													'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
												},
												'currency' : {
													'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
													'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
												}
											});
								});
			})(jQuery);
		</script>
		<script src="../../static/public/js/inputmask-defaults.js"
			data-th-src="@{/public/js/inputmask-defaults.js}"></script>

		<!-- JQuery Validation -->
		<script
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"
			data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
		<script
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"
			data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
		<script
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js"
			data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'"
			data-th-if="${#locale.language} != 'en'">
			</script>
		<script src="../../static/public/js/validation-defaults.js"
			data-th-src="@{/public/js/validation-defaults.js}">
			</script>

		<script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>
		<script>
			function getIMC() {
				
				document.getElementById("imc").value = document.getElementById("peso").value/ ((document.getElementById("estatura").value)*(document.getElementById("estatura").value));
			}
		</script>

	</div>

</body>

</html>